
body {
  height: 85vh;
  width: 95vw;
  font-family: 'Arvo', serif;
  font-size: 15px;
}
body> h1{
  text-align: center;
  position: relative;
  top:10vh;
}
/* wrapper containsthe image and the description */
.wrapper {
  height: 0;
  width: 15%;
  margin: 0 auto;
  padding-bottom: 44%;
  position: relative;
  top: 25%;
  background: url("../Assets/corps.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;


}

.wrapper:after {
  padding-top: 75%;
  display: block;
  content: '';
}

#bodypart {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: black;
  text-align: center;
  margin-top: 5%;
  width: 30%
}
/* the circles */
#bodypart>.shoulder,
#bodypart>.hand,
#bodypart>.knee,
#bodypart>.arm,
#bodypart>.leg,
#bodypart>.foot {
  position: relative;
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  opacity: 0.5;
}
/* color and placing of every circles */
#bodypart>.shoulder {
  background-color: wheat;
  right: -2%;
  top: 14%;
}

#bodypart>.hand {
  background-color: aqua;
  right: 9%;
  top: 36%;


}

#bodypart>.knee {
  background-color: blue;
  right: -35%;
  top: 45%;


}

#bodypart>.arm {
  background-color: blueviolet;
  right: -192%;
  top: 0%;

}

#bodypart>.leg {
  background-color: greenyellow;
  right: -143%;
  top: 3%;



}

#bodypart>.foot {
  background-color: gold;
  right: -136%;
  top: 36%;
}

#description {
  width: 40vw;
  max-height: inherit;
  position: absolute;
  text-align: left;
  right: 1vw;
  top: 24vh;
  }


@media(max-width:500px) {
  #description{
    font-size: 10px;

  }
}